In [6]:
from google.cloud import bigquery
import pandas as pd

from google.oauth2 import service_account

key_path = "crunchbase-startups-b791b011b22c.json"

credentials = service_account.Credentials.from_service_account_file(
key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id,)

sql = """
    SELECT *
    FROM `crunchbase-startups.startups.join_table`
"""

df = client.query(sql).to_dataframe()

In [3]:
df.head(5)

,entity_id,category_code,country_code,state_code,city,investment_rounds,funding_rounds,funding_total_usd,milestones,lifetime,...,funding_period,milestone_period,investment_rate,funding_rate,milestone_rate,inverse_dt_since_last_investment,inverse_dt_since_last_funding,inverse_dt_since_last_milestone,inverse_data_creation_gap,update_gap
0,325,enterprise,USA,MA,Cambridge,1.0,6.0,103100000.0,3.0,4018,...,1861,452,0.002457,0.003224,0.006637,0.002457,0.000577,0.001675,0.000249,2155
1,60298,finance,USA,TX,Austin,3.0,2.0,450000.0,3.0,1918,...,50,571,0.012605,0.040000,0.005254,0.002188,0.000899,0.001692,0.000521,951
2,38270,mobile,USA,CA,Fountain Valley,1.0,3.0,6000000.0,1.0,2132,...,746,0,0.001873,0.004021,0.000463,0.001873,0.001873,0.000463,0.000469,853
3,32234,mobile,USA,MA,Kolkata,1.0,1.0,25000.0,1.0,2132,...,0,0,0.000691,0.000479,0.000608,0.000691,0.000479,0.000608,0.000469,363
4,199080,finance,USA,CA,Los Angeles,1.0,1.0,6000000.0,1.0,1051,...,0,0,0.002012,0.001825,0.001431,0.002012,0.001825,0.001431,0.000951,8